.i{
    display:flex;
    height: 100vh;
}
.i-left{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.i-leftwrapper{
    height: 50%;
    background-color: blanchedalmond;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.i-itemmain{
    height: 50px;
    overflow: hidden;
}
.i-itemwrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}
@keyframes  move{
    20%{
        transform: translateY(-50px);
    }
    40%{
        transform: translateY(-100px);
    }
    60%{
        transform: translateY(-150px);
    }
    80%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(-250px);
    }
}
.i-item{
    height: 50px;
    font-size: 40px;
    font-weight: 300;
    color: #3ca352;
    display: flex;
    align-items: center;
}
.i-scroll{
    position: absolute;
    height: 40px;
    width: 40px;
    bottom: 20px;
}
.i-right{
    flex: 1;
    position: relative;
}
.i-bg{
    clip-path: polygon(100% 0%, 100% 49%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-image: url("../../img/JU.png");
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.i-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

@media screen and (max-width: 500px) {
    .i{
        flex-direction: column;
    }   
    .i-leftwrapper{
        padding: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        height:100%;
    }
    .i-itemmain{
        display: none;
    }
    .i-img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
    }
    .i-desc{
        font-size: 12px;
    }
}